<div class="home-banner" style="background-image:url('<%= image_url('banner.jpg') %>');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <div class="box">
          <h1>Welcome to <strong>Boulder Bike Tour</strong></h1>
          <h5>Let's go through our site and inspect the details!</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="countdown-wrapper">
    <div class="container">
      <h5>Event starts at</h5>
      <input type="hidden" id="event_date" name="event_date" value="<%= @event_date %>"/>
      <div id="timer"></div>
    </div>
  </div>
</div>
<div class="about-section">
  <div class="container">
    <h1>About the event</h1>
    <div class="row">
      <div class="col-lg-6">
        <p class="lead">Once every decade, an exciting, prestigious, and inspiring bike race takes place in Colorado at the foot of the Rocky Mountains. It's the Boulder Bike Tour, and it's coming up in 2020! </p>
        <p>Our race will start on 2020. 04. 01., so lets start to plan your visit. You can check imagery, give us advice about a new slogan, check riders positions on a map and detailed information about them.</p>
        <a href="<%= photos_path %>" class="btn btn-primary btn-lg mt-5">Our Photos</a>
      </div>
      <div class="col-lg-6">
        <img src="<%= image_url('about.jpg') %>" alt="About Image">
      </div>
    </div>
  </div>
</div>