@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900');

$font-family-sans-serif: 'Poppins', sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-root: 10px;
$font-size-base: 1.8rem;
$orange: #ffad20;
$grey: #41434a;
$theme-colors: (
  'primary': $orange
);

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

html {
  font-size: $font-size-root;
}

body {
  font-size: $font-size-base;
  font-weight: 300;
}

.main {
  padding-bottom:5rem;
  padding-top:12rem;
}

.btn {
  &.btn-primary {
    color: white;
  }
}